* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-display: swap;
}

/* CSS header by Shirin */
.burger-menu {
  display: none;
}

.header-container {
  background-size: cover;
  height: 525px;
  background-position: center;
  position: relative;
}

.header-container img {
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
  height: inherit;
  filter: brightness(0.6);
}

.header-container:after {
  content: "";
  position: absolute;
  background-color: #f8f9fb;
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 84%, 0% 100%, 100% 100%);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.dot {
  cursor: pointer;
  height: 9px;
  width: 9px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* next and prev */
.next {
  right: 0;
  cursor: pointer;
  position: absolute;
  top: 43%;
  width: auto;
  margin-top: -15px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.prev {
  left: 0;
  cursor: pointer;
  position: absolute;
  top: 43%;
  width: auto;
  margin-top: -15px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.next:hover {
  background-color: black;
}

.prev:hover {
  background-color: black;
}

.header-slider-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 19px;
  padding-block-start: 145px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

.nav-desktop {
  width: 35%;
  align-self: center;
}

.nav-desktop ul {
  display: flex;
  justify-content: center;
  padding: 0;
  justify-content: space-between;
}

.nav-desktop ul li {
  color: white;
}

.header-home-nav {
  color: #ed7231;
}

.header-about-nav,
.header-contact-nav {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

.header-contact-button {
  width: 10%;
  background-color: #ed7231;
  border: none;
}

.header-contact-button a {
  color: white;
}

.header-slider-texts h1,
p {
  color: white;
}

.header-logo {
  width: 10%;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 5px;
}

ul li {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

.header-slider-texts button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 6px;
}

/*CSS icons by Leslie */
.icons-container {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
  padding: 50px 0px;
  background-color: #f8f9fb;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 0% 100%);
  height: 188px;
}

.mobile-icons-container {
  display: none;
}

.icons-container div {
  padding: 0px 12px;
}

.icons {
  background: #ed7231;
  border-radius: 50%;
  padding: 10px;
  width: 20px;
  height: 20px;
}

.icons-container h6 {
  font-weight: 300;
  color: #ed7231;
  letter-spacing: 3px;
  padding: 10px 0px;
}

.icons-container p {
  color: #adb0b7;
  font-weight: 300;
  font-size: 12px;
}

/* CSS the restaurants by Samiha */
.restaurant-container {
  padding-bottom: 138px;
  margin: 101px 0px;
  padding: 60px 0px;
}

.restaurant-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 15px;
}

.restaurant-container p {
  color: #adb0b7;
  font-weight: 400;
  width: 640px;
  font-size: 15px;
  padding-bottom: 30px;
  text-align: center;
  margin: 0 auto;
}

.restaurant-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.collage-image {
  max-width: 300px;
  height: auto;
  margin: 10px;
}

.collage-duo {
  display: inherit;
  flex-direction: column;
}

/* CSS special menu by Leslie */
.special-menu-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

.special-menu {
  display: flex;
  transition: transform 0.5s;
}

.carousel-menu {
  width: 150%;
  height: 100%;
  display: flex;
  transition: transform 0.5s ease;
}

.special-menu-item {
  width: 25%;
  border: 1px solid #ccc;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.special-menu-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 15px;
}

.special-menu-item {
  margin: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  display: flex;
  transition: 0.3s all ease;
}

.special-menu-item:hover {
  transform: scale(1.05);
}

.special-menu-item:hover .special-menu-prices {
  background-color: transparent;
  border: 2px #ffffff solid;
}

.special-menu-1 {
  background-image: url(./special-menu-images/1special-menu.png);
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  background-position: center;
}

.special-menu-2 {
  background-image: url(./special-menu-images/2special-menu.png);
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  background-position: center;
}

.special-menu-3 {
  background-image: url(./special-menu-images/3special-menu.png);
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  background-position: center;
}

.special-menu-4 {
  background-image: url(./special-menu-images/4special-menu.png);
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  background-position: center;
}

.special-menu-prices {
  color: #FFFFFF;
  background-color: #ed7231;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  font-weight: 400;
  font-size: 15px;
}

.special-menu-dishes {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  margin: 0;
  top: 50%;
}

/* CSS our menu by Leslie */
.our-menu-container {
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-top: 146px;
  clip-path: polygon(0% 16%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #f8f9fb;
  padding-bottom: 120px;
  position: relative;
}

.our-menu-container:after {
  content: "";
  clip-path: polygon(0 84%, 100% 0, 100% 100%, 0 100%);
  bottom: 0;
  height: 100px;
  width: 100%;
  position: absolute;
  background-color: white;
}

hr {
  border: 1px;
  background-color: #ed7231;
  color: #ed7231;
  height: 2px;
  width: 5%;
  margin: auto;
}

.our-menu-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 15px;
}

.our-menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 140px);
  grid-gap: 0px;
  margin: 75px;
  margin-top: 20px;
}

.our-menu-grid-item {
  background-color: #ffffff;
}

.our-menu-grid-item img {
  width: 140px;
  object-fit: cover;
  margin: 0px;
  max-width: 100%;
  height: auto;
}

.our-menu-dishes {
  font-weight: 400;
  margin-bottom: 0px;
  padding: 10px 15px;
  padding-right: 5px;
  font-size: 11px;
}

.our-menu-container p {
  color: #adb0b7;
  font-weight: 300;
  font-size: 10px;
  padding-left: 15px;
  padding-right: 5px;
}

.our-menu-prices {
  color: #ed7231;
  font-size: 12px;
  font-weight: 300;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding: 10px 15px;
}

.grid-menu-caesar {
  background-image: url(./our-menu-images/menu1.png);
  background-size: cover;
}

.grid-menu-bacon {
  background-image: url(./our-menu-images/menu2.png);
  background-size: cover;
}

.grid-menu-calamari {
  background-image: url(./our-menu-images/menu3.png);
  background-size: cover;
}

.grid-menu-tuna {
  background-image: url(./our-menu-images/menu4.png);
  background-size: cover;
}

/* CSS  testimonial  by Samiha */
.testimonial-container {
  display: flex;
  row-gap: 50px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 199px;
  row-gap: 60px;
  padding-top: 146px;
}

.testimonial-container hr {
  border: 1px;
  background-color: #ed7231;
  color: #ed7231;
  height: 2px;
  width: 12%;
  margin: auto;
}

.testimonial-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.testimonial-heading h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 15px;
}

.testimonial-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 22px;
}

.testimonial-text p {
  text-align: justify;
  color: #040404;
}

.testimonial-reviewer {
  display: flex;
  align-items: center;
  padding-right: 500px;
  column-gap: 20px;
}

.testimonial-reviewer img {
  border-radius: 60px;
  width: 50px;
  height: 50px;
}

.testimonial-signature {
  display: flex;
  flex-direction: column;
}

.testimonial-name {
  color: #040404;
}

.testimonial-company {
  color: #ADB0B7;
}

/* CSS blog by Samiha */

.blog-container {
  clip-path: polygon(0% 16%, 100% 0%, 100% 100%, 0% 100%);
  background-color: #f8f9fb;
  padding-bottom: 220px;
  padding-top: 100px;
  position: relative;
}

.blog-container::after {
  content: "";
  clip-path: polygon(0 84%, 100% 0, 100% 100%, 0 100%);
  bottom: 0;
  height: 100px;
  width: 100%;
  position: absolute;
  background-color: #FFFFFF;
}

.blog-container h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  padding-bottom: 15px;
}

.blog-part {
  display: flex;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.blog-block {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.blog-block1-image {
  object-fit: cover;
  width: 500px;
  height: 279px;
}

.blog-block2-image {
  object-fit: cover;
  width: 500px;
  height: 279px;
}

.blog-block h4 {
  color: #ed7231;
  padding-left: 12px;
  font-weight: 400;
}

.blog-calendar {
  padding-left: 12px;
  width: 15px;
  height: 15px;
}

.blog-date {
  font-size: 12px;
  color: #adb0b7;
}

.blog-date span {
  padding-left: 5px;
}

.blog-block p {
  font-size: 14px;
  color: #adb0b7;
  padding-left: 12px;
}

.blog-read-more {
  background-color: #ed7231;
  font-size: 15px;
  font-weight: 300;
  color: #FFFFFF;
  width: max-content;
  padding: 5px 7px;
  border: none;
  margin-left: 12px;
  margin-bottom: 12px;
}

/* CSS footer by Shirin */
.subscribe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 270px;
}

.subscribe-container p {
  width: 400px;
  color: #adb0b7;
  padding: 20px 0;
  text-align: center;
  font-size: 12px;
}

.subscribe-button {
  background-color: #ed7231;
  font-size: 15px;
  font-weight: 300;
  color: #FFFFFF;
  width: max-content;
  padding: 5px 7px;
  border: none;
}

input[type="email"] {
  width: 252px;
  padding: 7px 7px;
  font-weight: 300;
}

.subscribe-mail-input {
  display: flex;
  column-gap: 25px;
}

.before-footer {
  padding: 50px 112px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
}

.footer-container h6 {
  font-weight: 600;
  font-size: 12px;
}

.footer-part1 {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.footer-part1 p {
  color: #adb0b7;
  font-size: 12px;
}

.footer-icons {
  display: flex;
  column-gap: 20px;
}

.footer-black-text {
  color: #040404;
  font-size: 12px;
}

.footer-gray-text {
  color: #adb0b7;
  font-size: 12px;
}

.footer-link {
  color: #ed7231;
  font-size: 12px;
  text-decoration: none;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.footer-part2 {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
}

.copyright-span {
  display: flex;
  justify-content: center;
  color: #adb0b7;
  font-size: 11px;
}

.mobile-before-footer {
  display: none;
  padding: 20px 20px;
}

.mobile-footer-container {
  display: flex;
}

/* RESPONSIVE on mobile */
@media screen and (max-width:390px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  /*  Responsive header by Shirin */
  .burger-menu {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .burger-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line {
    width: 100%;
    height: 4px;
    background-color: white;
  }

  .menu {
    display: none;
  }

  .menu.active {
    background-color: transparent;
    display: block;
    position: absolute;
    top: 60px;
    left: 325px;
    z-index: 1;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu ul li {
    margin: 10px 1px;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }

  .header-logo {
    font-size: 20px;
    width: 100%;
    letter-spacing: 3px;
  }

  .header-contact-button {
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  .header-container {
    height: 225px;
  }

  .header-slider-texts {
    padding-block-start: 5px;
  }

  .header-slider-texts h1 {
    font-size: 25px;
  }

  .header-slider-texts button {
    border: 2px solid white;
    padding: 3px;
  }

  .header-slider-texts p {
    display: none;
  }

  /*  Responsive icons  by Shirin */
  .icons-container {
    padding: 0px;
  }

  .icons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 85px;
    height: 425px;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
  }

  .icons-block1,
  .icons-block2,
  .icons-block3,
  .icons-block4 {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-items: center;
    margin: 5px 10px;
  }

  .empty {
    display: none;
  }

  .icons-container p {
    font-size: 9px;
    font-weight: 400;
  }

  .icons-container h6 {
    letter-spacing: 1px;
    font-weight: 400;
  }

  .icons {
    width: 40px;
    height: 40px;
  }

  .icons-container div {
    padding: 11px 11px;
  }

  /* Responsive the restaurant and special menu by Leslie */
  .restaurant-container {
    margin: 0px;
  }

  .restaurant-container p {
    width: 85%;
  }

  .restaurant-collage {
    display: flex;
    flex-wrap: nowrap;
  }

  .collage-image {
    max-width: none;
  }

  .fourth-picture {
    display: none;
  }

  .special-menu {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }

  .special-menu-item {
    margin: 0px;
    width: 85%;
    max-height: 300px;
  }

  .special-menu-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .carousel-menu {
    transition: none;
    width: 100%;
  }

  /* Responsive our menu by Leslie */
  .our-menu-container {
    margin: 42px 0px;
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  }

  .our-menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-gap: 0px;
    padding: 0px 75px;
    margin-bottom: 0px;
    background-color: #f8f9fb;
  }

  .our-menu-hidden-responsive {
    display: none;
  }

  /* .rowtest:nth-child(7) {
        grid-row:8 ; 
    }
    .rowtest:nth-child(8) {
        grid-row: 7;
    }
    .rowtest:nth-child(2) {
        grid-row: 3; 
    }
    .rowtest:nth-child(2) {
        grid-row: 3;
    }*/

  /* Responsive testimonial and blog by Leslie */
  .testimonial-container {
    margin-bottom: 0px;
    row-gap: 30px;
    padding-top: 0px;
  }

  .testimonial-text {
    width: 85%;
  }

  .testimonial-text p br {
    display: none;
  }

  .testimonial-reviewer {
    padding: 0;
    padding-bottom: 35px;
  }

  .blog-part {
    display: block;
  }

  .blog-block {
    transform: scale(0.9);
  }

  .blog-block br {
    display: none;
  }

  .blog-container {
    padding-bottom: 100px;
    clip-path: polygon(0% 6%, 100% 0%, 100% 100%, 0% 100%);
  }

  /* Responsive newsletter and footer by Leslie */
  .subscribe-container p {
    padding: 20px;
  }

  input[type="email"] {
    width: 200px;
    border: 2px solid darkgray;
  }

  .before-footer {
    display: none;
  }

  .mobile-before-footer {
    display: block;
  }

  .subscribe-container {
    margin-top: 50px;
  }

  .footer-part2 {
    row-gap: 10px;
  }

  .footer-contact-info {
    row-gap: 10px;
  }

  .footer-icons {
    padding-top: 25px;
  }
}

/* Resposive on phone size 428px */
@media screen and (max-width:428px) {
  * {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }

  /*  Responsive header by Shirin */
  .burger-menu {
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 5px;
  }

  .burger-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line {
    width: 100%;
    height: 4px;
    background-color: white;
  }

  .menu {
    display: none;
  }

  .menu.active {
    background-color: transparent;
    display: block;
    position: absolute;
    top: 40px;
    left: 341px;
    z-index: 1;
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu ul li {
    margin: 10px 1px;
  }

  .menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 12px;
  }

  .header-logo {
    font-size: 20px;
    width: 100%;
    letter-spacing: 3px;
  }

  .header-contact-button {
    display: none;
  }

  .nav-desktop {
    display: none;
  }

  .header-logo {
    width: 80%;
  }

  .header-container {
    height: 225px;
  }

  .header-slider-texts {
    padding-block-start: 5px;
  }

  .header-slider-texts h1 {
    font-size: 25px;
  }

  .header-slider-texts button {
    border: 2px solid white;
    padding: 3px;
  }

  .header-slider-texts p {
    display: none;
  }

  /*  Responsive icons  by Shirin */
  .icons-container {
    padding: 0px;
  }

  .icons-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 85px;
    height: 425px;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
  }

  .icons-block1,
  .icons-block2,
  .icons-block3,
  .icons-block4 {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    align-items: center;
    margin: 5px 10px;
  }

  .empty {
    display: none;
  }

  .icons-container p {
    font-size: 9px;
    font-weight: 400;
  }

  .icons-container h6 {
    letter-spacing: 1px;
    font-weight: 400;
  }

  .icons {
    width: 40px;
    height: 40px;
  }

  .icons-container div {
    padding: 11px 11px;
  }

  /* Responsive the restaurant and special menu by Leslie */
  .restaurant-container {
    margin: 0px;
  }

  .restaurant-container p {
    width: 85%;
  }

  .restaurant-collage {
    display: flex;
    flex-wrap: nowrap;
  }

  .collage-image {
    max-width: none;
  }

  .fourth-picture {
    display: none;
  }

  .special-menu {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }

  .special-menu-item {
    margin: 0px;
    width: 85%;
    max-height: 300px;
  }

  .special-menu-container {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .carousel-menu {
    transition: none;
    width: 100%;
  }

  /* Responsive our menu by Leslie */
  .our-menu-container {
    margin: 42px 0px;
    clip-path: polygon(0% 6%, 100% 0%, 100% 100%, 0% 100%);
  }
  .our-menu-container:after{
    clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
  }

  .our-menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-gap: 0px;
    padding: 0px 75px;
    margin-bottom: 0px;
    background-color: #f8f9fb;
  }

  .our-menu-hidden-responsive {
    display: none;
  }

  /* .rowtest:nth-child(7) {
          grid-row:8 ; 
      }
      .rowtest:nth-child(8) {
          grid-row: 7;
      }
      .rowtest:nth-child(2) {
          grid-row: 3; 
      }
      .rowtest:nth-child(2) {
          grid-row: 3;
      }*/

  /* Responsive testimonial and blog by Leslie */
  .testimonial-container {
    margin-bottom: 0px;
    row-gap: 30px;
    padding-top: 0px;
  }

  .testimonial-text {
    width: 85%;
  }

  .testimonial-text p br {
    display: none;
  }

  .testimonial-reviewer {
    padding: 0;
    padding-bottom: 35px;
  }

  .blog-part {
    display: block;
  }

  .blog-block {
    transform: scale(0.9);
  }

  .blog-block br {
    display: none;
  }

  .blog-container {
    padding-bottom: 100px;
    clip-path: polygon(0% 6%, 100% 0%, 100% 100%, 0% 100%);
  }
  .blog-container:after{
  clip-path: polygon(0 70%, 100% 0, 100% 100%, 0 100%);
  }

  /* Responsive newsletter and footer by Leslie */
  .subscribe-container p {
    padding: 20px;
  }

  input[type="email"] {
    width: 200px;
    border: 2px solid darkgray;
  }

  .before-footer {
    display: none;
  }

  .mobile-before-footer {
    display: block;
  }

  .subscribe-container {
    margin-top: 50px;
  }

  .footer-part2 {
    row-gap: 10px;
  }

  .footer-contact-info {
    row-gap: 10px;
  }

  .footer-icons {
    padding-top: 25px;
  }
}


/* RESPONSIVE on iPad */
@media screen and (min-width:429px) and (max-width:820px) {
  .header-logo {
    width: 13%;
    font-size: 18px;
  }

  .header-contact-button {
    width: 12%;
  }

  .icons-container {
    height: 260px;
  }

  .restaurant-container {
    margin: 0px;
  }

  .restaurant-collage {
    display: flex;
    flex-wrap: nowrap;
  }

  .collage-image {
    max-width: none;
  }

  .fourth-picture {
    display: none;
  }

  .our-menu-container {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
  }

  .testimonial-container {
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .blog-block {
    transform: scale(0.9);
  }

  .blog-block br {
    display: none;
  }

  .blog-container {
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    padding-bottom: 200px;
  }

  .subscribe-container {
    margin-top: 0px;
  }

  .before-footer {
    padding: 0px 65px;
    padding-top: 75px;
  }
}

/* RESPONSIVE on 11'*/
@media screen and (min-width:821px) and (max-width:1366px) {
  .restaurant-container {
    margin: 0px;
  }

  .testimonial-container {
    padding-top: 80px;
    margin-bottom: 100px;
  }

  .subscribe-container {
    margin-top: 0px;
  }
}