/* shirin css */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", sans-serif;
    font-display: swap;
}

.burger-div {
    visibility: hidden;
}

.burger-menu {
    height: 55px;
}

.div1 {
    background-size: cover;
    background-image: url(./Images/hero_2.jpg);
    z-index: -1;
    height: 525px;
    background-position: center;
    position: relative;
}

.test1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 19px;
    padding-block-start: 145px;
}

.div1-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

nav {
    width: 35%;
    align-self: center;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    justify-content: space-between;
}

nav ul li {
    color: white;
}

.div1-btn {
    width: 8%;
    background-color: #ed7231;
    color: white;
    border: none;
}

.test1 h1,
p {
    color: white;
}

.div1-logo {
    width: 10%;
    color: #ffffff;
    letter-spacing: 5px;
}

ul li {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
}

.main-page {
    color: #ed7231;
}

.test1 button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 6px;
}

/*leslie css  */
.Div2:before {
    content: "";
    left: 0;
    height: 334px;
    width: 150%;
    position: absolute;
    top: 70%;
    background-color: #f8f9fb;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
    left: -45px;
}

.Div2 {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 1fr 100px;
    padding: 60px 0px;
}

.Div2 div {
    padding: 0px 12px;
}

.icons {
    background: #ed7231;
    border-radius: 50%;
    padding: 10px;
    width: 20px;
    height: 20px;
}

.Div2 h6 {
    font-weight: 300;
    color: #ed7231;
    letter-spacing: 3px;
    padding: 10px 0px;
}

.Div2 p {
    color: #adb0b7;
    font-weight: 300;
    font-size: 12px;
}

/* samiha css */
.div3 {
    padding-bottom: 138px;
    margin: 101px 0px;
    padding: 60px 0px;
}

hr {
    border: 1px;
    background-color: #ed7231;
    color: #ed7231;
    height: 2px;
    width: 5%;
    margin: auto;
}

.h1class {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 15px;
}

.pclass {
    color: #adb0b7;
    font-weight: 400;
    width: 640px;
    font-size: 15px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.collage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.img-collage {
    max-width: 300px;
    height: auto;
    margin: 10px;
}

.test {
    display: inherit;
    flex-direction: column;
}

/* CSS Special Menu */
.special-menu {
    margin-bottom: 210px;
    display: flex;
    flex-direction: column;
}

.special-menu hr {
    border: 1px;
    background-color: #ed7231;
    color: #ed7231;
    height: 2px;
    width: 5%;
    margin: auto;
}

.special-menu-container {
    display: flex;
}

.special-menu h1 {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.special-menu-item {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.special-menu-1 {
    background-image: url(./special-menu-images/1special-menu.png);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    background-position: center;
}

.special-menu-2 {
    background-image: url(./special-menu-images/2special-menu.png);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    background-position: center;
}

.special-menu-3 {
    background-image: url(./special-menu-images/3special-menu.png);
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    background-position: center;
}

.special-menu-prices {
    color: #FFFFFF;
    background-color: #ed7231;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    font-weight: 400;
    font-size: 15px;
}

.special-menu-dish {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin: 0;
    top: 50%;
}

/* CSS Div5 leslie */

.our-menu {

    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    margin-bottom: 150px;
}

.our-menu:before {
    content: "";
    left: 0;
    height: 780px;
    width: 150%;
    position: absolute;
    top: 390%;
    background-color: #f8f9fb;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
    left: -58px;
}



hr {
    border: 1px;
    background-color: #ed7231;
    color: #ed7231;
    height: 2px;
    width: 5%;
    margin: auto;
}

.our-menu h1 {
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

.grid-menu {
    display: grid;
    grid-template-columns: repeat(4, 140px);
    grid-gap: 0px;
    margin: 75px;
}

.grid-item {
    background-color: #ffffff;
}

.grid-item img {
    width: 140px;
    object-fit: cover;
    margin: 0px;
    max-width: 100%;
    height: auto;
}

.dish {
    font-weight: 400;
    margin-bottom: 0px;
    padding: 10px 15px;
    padding-right: 5px;
    font-size: 11px;
}

.our-menu p {
    color: #adb0b7;
    font-weight: 300;
    font-size: 10px;
    padding-left: 15px;
    padding-right: 5px;
}

.prices {
    color: #ed7231;
    font-size: 12px;
    font-weight: 300;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 10px 15px;
}

.grid-menu-caesar {
    background-image: url(./Images/menu1.png);
    background-size: cover;
}

.grid-menu-bacon {
    background-image: url(./Images/menu2.png);
    background-size: cover;
}

.grid-menu-calamari {
    background-image: url(./Images/menu3.png);
    background-size: cover;
}

.grid-menu-tuna {
    background-image: url(./Images/menu4.png);
    background-size: cover;
}

/* css div6  samiha */

.div6 {
    display: flex;
    row-gap: 50px;
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
    margin-bottom: 199px;
    row-gap: 60px;

}

.div6-part1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.div6-part2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 22px;
}

.div6-part3 {
    display: flex;
    align-items: center;
    padding-right: 500px;
    column-gap: 20px;
}

.h1div6 {

    font-size: 30px;
    font-weight: 800;
    /* padding-bottom: 15px; */
}

.company-name {
    color: #ADB0B7;
}

.name-shef {
    color: #040404;
}

.hr-special {
    border: 1px;
    background-color: #ed7231;
    color: #ed7231;
    height: 2px;
    width: 32%;
    margin: auto;
}

.pdiv6 {
    text-align: justify;
    color: #040404;
}

.div6-part3 {
    display: flex;
    align-items: center;

}

.div6-part4 {
    display: flex;
    flex-direction: column;
}



.img-shef {
    border-radius: 60px;
    width: 50px;
    height: 50px;
}

*/
/* css samiha blog */



.blog-div {
    background-color: #f8f9fb;
    margin-bottom: 20px;
}

.blog-div:before {
    content: "";
    height: 750px;
    width: 150%;
    position: absolute;
    top: 600%;
    background-color: #f8f9fb;
    transform: rotate(-5deg);
    z-index: -1;
    left: -45px;
}

.h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 15px;
}


.Blogs {
    display: flex;
    column-gap: 50px;
    grid-template-columns: 1fr 1fr;

    justify-content: center;

}

.Blog1 {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}



.image1 {
    object-fit: cover;
    width: 500px;
    height: 279px;
}

.image2 {
    object-fit: cover;
    width: 500px;
    height: 279px;
}

.datepicker {
    padding-left: 12px;
    width: 15px;
    height: 15px;
}

.dateposted {
    font-size: small;
    color: #adb0b7;
}

.h4 {
    color: #ed7231;
    padding-left: 12px;
}

.p1,
.p2 {
    font-size: small;
    color: #adb0b7;
    padding-left: 12px;
}


.read-more {
    background-color: #ed7231;
    color: #FFFFFF;
    width: max-content;
    padding: 5px 7px;
    border: none;
    margin-left: 12px;
    margin-bottom: 12px;
}


/* css footer */
.subscribe_newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 270px;
}

.sucbscribe_p {
    width: 400px;
    color: #adb0b7;
    padding: 20px 0;
}

.subscribe-btn {
    background-color: #ed7231;
    color: white;
    padding: 8px 20px;
    border: none;
}

input[type="email"] {
    width: 252px;
    padding: 7px 30px;
}

.mail-input {
    display: flex;
    column-gap: 25px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.before_footer {
    padding: 50px 112px;
}

.footer_part1 {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.footer_part1 p {
    color: #adb0b7;
    font-size: 12px;
}

.icon-social {
    display: flex;
    column-gap: 20px;
}

.footer-p-gray {
    color: #adb0b7;
    font-size: 12px;
}

.footer-p-black {
    color: #040404;
    font-size: 12px;
}

.home-link {
    color: #ed7231;
    font-size: 12px;
    text-decoration: underline;
}

.copyright_span {
    display: flex;
    justify-content: center;
    color: #adb0b7;
}

.contact-info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer_part12 {
    display: flex;
    flex-direction: column;
    row-gap: 27px;
}

/* .subscribe_newsletter::before {
    content: "";
    left: 0;
    height: 100%;
    width: 150%;
    position: absolute;
    top: 71%;
    background: #4f7cd6;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
    z-index: -1;
} */
@media screen and (max-width:390px) {

    .div1-logo {
        font-size: 20px;
        width: 100%;
        letter-spacing: 3px;
    }

    .div1-btn {
        display: none;
    }

    nav {
        display: none;

    }

    .burger-div {
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: flex-end;


    }

    .burger-menu {
       
        height: 55px;
    }


}