body {
  display: block;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}
.container {
  display: block;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  padding-bottom: 15px;
}
.Blogs {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  grid-gap: 10px;
  margin: auto;
}
.Blog1 {
  position: relative;
  width: auto;
  height: auto;
  object-fit: cover;
}

.Blog2 {
  position: relative;
  width: auto;
  height: auto;
  object-fit: cover;
}
.image1 img {
  width: 500px;
  position: relative;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.image2 img {
  width: 500px;
  position: relative;
  height: 250px;
  object-fit: cover;
  cursor: pointer;
}
.read-more {
  background-color: #ed7231;
  color: #ffffff;
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
}

.datepicker {
  width: 15px;
  height: 15px;
}
.dateposted {
  font-size: small;
  color: #adb0b7;
}
.h4 {
  color: #ed7231;
}
.p1 {
  font-size: small;
  color: #adb0b7;
}
.p2 {
  font-size: small;
  color: #adb0b7;
}
